.f-container {
  justify-content: space-evenly;
}
.f-left {
  gap: 1rem;
}
.f-menu {
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
  margin-bottom: 25px;
}
img[src="./allianz.png"] {
  border-radius: 5px;
}
@media (max-width: 768px) {
  .f-container {
    justify-content: center;
  }
  .f-container > div {
    align-items: center !important;
    text-align: center;
  }
}
